/******************************/
/********** Navbar ************/
/******************************/

nav {
  /* ↓↓ Fill the entire viewport width ↓↓ */
  width: 100vw;
  height: 5rem;
  /* ↓↓ Keep nav always fixed on the top of the page even when scrolling ↓↓ */
  position: fixed;
  top: 0;
  /* ↓↓ High index to ensure nav is always displayed over other elements on page ↓↓ */
  z-index: 11;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ↓↓ Remove the elements that are only to be seen in mobile devices ↓↓ */
nav button {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}
.nav-menu a:hover {
  color: var(--clr-bg2);
}

/* Change navbar on scroll */
.window-scroll {
    background: var(--clr-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
