/**********************************/
/************ Layout **************/
/**********************************/

/* ↓↓ Constrain entire webpage within a horizontally centered container with defined width ↓↓ */
/* DESKTOP */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

/* MOBILE RESPONSIVENESS */

/* TABLETS */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}

section {
  padding: 6rem 0;
}

/**********************************/
/************ Button **************/
/**********************************/
.btn {
  /* ↓↓ Set a width and height on the element and the top and bottom margins/paddings are respected ↓↓ */
  display: inline-block;
  background: var(--clr-white);
  color: var(--clr-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

.btn-primary {
  background: var(--clr-danger);
  color: var(--clr-white);
}

.accordion-trigger {
  cursor: pointer;
}
.accordion-panel {
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease-out;
}
